.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
    height: 100%;
}
}


.pos{
    animation: colorchange 11s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
    position: absolute;
    width: 758px;
    height: 835px;
    left: -141px;
    top: 70px;
    overflow:hidden;
}

.pos-img{
    position: absolute;
    width: 634px;
    height: 557px;
    left: 120px;
    top: 120px;
}

body{
    height: 100%;
    overflow-y: hidden;
}

.rounded-border{
    border-radius: 33px;
}

@keyframes colorchange {
    /* 0% {
        background: #ff0000;
      }
      14% {
        background: #ffa500;
      }
      28% {
        background: #ffff00;
      }
      42% {
        background: #008000;
      }
      56% {
        background: #0000ff;
      }
      70% {
        background: #4b0082;
      }
      84% {
        background: #ee82ee;
      }
      100% {
        background: #ff0000;
      } */
      0% {
        background: #ff0000;
      }

      25% {
        background: #F44336;
      }
      50% {
        background: #2196F3;
      }
      75% {
        background: #FFC107;
      }
      100% {
        background: #4CAF50;
      }
  }